<h1>註冊畫面</h1>
<form [formGroup]="formData">
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-2 col-form-label">姓名</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="姓名 (必填)" formControlName="name">
    </div>
  </div>
  <div formGroupName="validEmail">
    <div class="form-group row">
      <label for="staticEmail" class="col-sm-2 col-form-label">E-mail</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Email (必填)" formControlName="email"
               [ngClass]="{'is-invalid': (emailControl.touched || emailControl.dirty ) && !emailControl.valid}">
        <span class="invalid-feedback" *ngIf="emailControl.hasError('required')">
          Email 為必填欄位
        </span>
        <span class="invalid-feedback" *ngIf="emailControl.hasError('pattern')">
          Email 格式不正確
        </span>
      </div>
    </div>

    <div class="form-group row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Confirm E-mail</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Confirm Email (必填)" formControlName="confirmEmail"
               [ngClass]="{'is-invalid': formData.get('validEmail').errors || (confirmEmailControl.touched || confirmEmailControl.dirty ) && !confirmEmailControl.valid}">
        <span class="invalid-feedback" *ngIf="confirmEmailControl.hasError('required')">
          Confirm Email 為必填欄位
        </span>
        <span class="invalid-feedback" *ngIf="confirmEmailControl.hasError('pattern')">
          Confirm Email 格式不正確
        </span>
        <span class="invalid-feedback" *ngIf="formData.get('validEmail').hasError('notMatch')">
          Email 與 Confirm Email 不一致
        </span>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-2 col-form-label">手機號碼</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="手機號碼" formControlName="cellphone">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">通知方式</label>
    <div class="col-sm-10">
      <div class="form-check form-check-inline">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="notify" value="email" formControlName="notify">
          Email
        </label>
      </div>
      <div class="form-check form-check-inline">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="notify" value="text" formControlName="notify">
          簡訊</label>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" formControlName="send">
          寄送產品型錄
        </label>
      </div>
    </div>
  </div>
  <ng-container *ngIf="formData.get('send').value">
    <div class="form-group row">
      <label for="staticEmail" class="col-sm-2 col-form-label"></label>
      <div class="col-sm-10">
        <button type="button" class="btn btn-primary" (click)="appendAddress()">新增地址</button>
      </div>
    </div>
    <div formArrayName="sendList" *ngFor="let group of sendListArray.controls; let i=index">
      <app-send-detail [group]="group" [idx]="i"></app-send-detail>
      <button class="btn btn-default" (click)="remove(i)">remove</button>
    </div>
  </ng-container>
  <br>
  <button type="
              submit" class="btn btn-primary" [disabled]="formData.invalid">送出</button>
</form>
