<h1>註冊畫面</h1>
<form [formGroup]="formData" (ngSubmit)="save()">
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-2 col-form-label">姓名</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="姓名 (必填)" formControlName="name"
             [ngClass]="{'is-invalid': (nameControl.touched || nameControl.dirty ) && !nameControl.valid}" />
      <span class="invalid-feedback" *ngIf="(nameControl.touched || nameControl.dirty) && nameControl.errors">
        請輸入姓名
      </span>
    </div>
  </div>
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-2 col-form-label">E-mail</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" placeholder="Email (必填)" formControlName="email"
             [ngClass]="{'is-invalid': (emailControl.touched || emailControl.dirty ) && !emailControl.valid}">
      <span class="invalid-feedback" *ngIf="(emailControl.touched || emailControl.dirty) && emailControl.errors">
        請輸入Email
      </span>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
      <div class="form-check">
        <label class="form-check-label" for="defaultCheck1">
          <input class="form-check-input" id="defaultCheck1" type="checkbox" formControlName="send">
          寄送產品型錄
        </label>
      </div>
    </div>
  </div>
  <ng-container *ngIf="formData.get('send').value">
    <div class="form-group row">
      <label for="inputPassword" class="col-sm-2 col-form-label">地址類別</label>
      <div class="col-sm-10">
        <div class="form-check form-check-inline">
          <label class="form-check-label" for="addressType1">
            <input class="form-check-input" type="radio" id="addressType1" formControlName="addressType"
                   value="home">
            住家
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label" for="addressType2">
            <input class="form-check-input" type="radio" id="addressType2" formControlName="addressType"
                   value="office">
            公司
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label" for="addressType3">
            <input class="form-check-input" id="addressType3" type="radio" formControlName="addressType"
                   value="other">
            其他
          </label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="staticEmail" class="col-sm-2 col-form-label">縣市區域、郵遞區號</label>
      <div class="col-sm-10">
        <div class="row">
          <div class="col">
            <select id="inputState" class="form-control" formControlName="city">
              <option value="" selected>請選擇縣市</option>
              <option *ngFor="let city of city$ | async">{{ city }}</option>
            </select>
          </div>
          <div class="col">
            <select id="inputState" class="form-control" formControlName="area">
              <option value="" selected>請選擇區域</option>
              <option *ngFor="let area of areas$ | async">{{ area[0] }}</option>
            </select>
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="郵遞區號" formControlName="code"
                   readonly></div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="staticEmail" class="col-sm-2 col-form-label">地址</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="address">
      </div>
    </div>
  </ng-container>
  <button type="submit" class="btn btn-primary" [disabled]="formData.invalid">送出</button>
</form>
